.about {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ff0055 ;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front,
  .card-back {
    width: 600px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #1cbb8b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #56c715;
  }
  
  .card-back {
    background-color: #e271e6;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

.card-content{
    position: absolute;
    left: 300px;
}  
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .contain-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .image {
    position: absolute;
    left: 2px;
    top:80px;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    border-radius: 50%;
   
  }