
.bcontainer {
    height: 400px;
    max-width: 400px;
    margin: 50px auto;
    margin: bottom 20px ;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 10px rgba(133, 82, 82, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.vinput[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #346292;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b2dd15;
}
