@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.container {
  display: flex;
  background-color: hsl(0, 4%, 85%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
              0 10px 10px rgba(0,0,0,0.1);
   border-radius: 10px;
  overflow: hidden; 
   max-width: 1500px; 
}

.image-container {
  flex: 2;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7873.jpg?t=st=1717606901~exp=1717610501~hmac=2379063ce64bf9b60c22ea2366a00f527bd6fd1c2f7a60c0e94404d5447ca709&w=360");
  background-position: center;
  min-height: 600px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.form-container {
  background-color: #fff;
  padding: 40px;
  margin-left: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #0dcaa1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInUp 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}

.btn:hover {
  background-color: #45a049;
}