
.container {
	display: flex;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	max-width: 1500px;
  }
  
  .limage-container {
	flex: 2;
	background-image: url('https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?t=st=1717609611~exp=1717613211~hmac=ef8b272cb5c1d75631ad9a79b6ae19e95c42a65ac4f68b399a0c8af8628a8ebc&w=360');
	background-size: cover;
	background-position: center;
	min-height: 600px;
	position: relative;
  }
  
  
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  .form-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  .form-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .form-content {
	width: 100%;
  }
  
  .login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .form-group {
	margin-bottom: 20px;
	width: 100%;
  }
  
  .label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: #555;
  }
  
  input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
  }
  
  .button {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .button:hover {
	background-color: #45a049;
  }